a {
    text-decoration: none;
}

.resources {
    &__main {
        height: 100%;
        position: relative;
        padding-top: calc(82px + 2rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
    }
    &__main::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/resources.jpg");
        background-position-y: center;
        background-position-x: center;
        background-size: cover;
        filter: blur(2px) grayscale(100%);
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__button {
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: white;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
        margin-top: 2rem;
        position: relative;
        font-family: "Raleway";
        background-color: $primary-color;
        text-transform: uppercase;
        font-size: 1.3em;
        transition: all ease-in-out 500ms;
        &:hover {
            background-color: $secondary-color;
            cursor: pointer;
            border-color: $secondary-color;
            color: $text-light;
        }
    }
    &__dtitle {
        position: relative;
        margin-top: 3rem;
        font-family: "IBM Plex Sans";
        color: whitesmoke;
        padding: 1rem;
        border-radius: 2px;
        font-size: 1.7em;
        background-color: rgba(90, 90, 90, 0.918);
    }
}

.footer {
    transform: translateY(-3px);
}

@media screen and (min-width: 768px) {
    .resources {
        &__main::before {
            background-image: url("../img/jumbotron.jpg");
        }
        &__container {
            display: grid;
            width: 100%;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
        }

        &__spec-container{
            display: grid;
            width: 100%;
            justify-items: center;
            grid-template-columns: repeat(1, 1fr);
        }
        &__button {
            width: 30vw;
            font-size: 1.4em;
        }
        &__dtitle {
            font-size: 2.2em;
            border-radius: 6px;
        }
    }
}

body {
    background-color: black;
}