@import "variables";
@import "navs";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbo {
    background-image: url("../img/jumbotron.jpg");
    filter: blur(0.7px) opacity(93%);
    background-size: cover;
    background-position: top;
    background-position-x: center;
    width: 100vw;
    height: 70vh;
}

.jumbo-parent {
    height: 100%;
    width: 100vw;
    &__content {
        padding: 11%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        transform: translateY(-36%);
        display: block;
        background-color: $background-color;
    }
    &__title {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 900;
        line-height: 1.3em;
        font-size: 1.9em;
        text-align: left;
        color: $primary-color;
    }
    &__description {
        margin-top: 1.5rem;
        font-family: 'Raleway', sans-serif;
        font-size: 1.1em;
        color: darken($text-light, 30%);
        margin-bottom: 1.5rem;
    }
    &__button {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $text-light;
        font-weight: 500;
        font-family: "Raleway";
        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
            color: $text-light;
            transition: all ease-in-out 500ms;
        }
    }
}

.timer {
    padding-bottom: 6rem;
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    &__days {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__daysn {
        font-size: 3em;
        font-weight: 900;
        color: #b07318b6;
        font-family: 'IBM Plex Sans';
    }
    &__daysd {
        font-size: 1.5em;
        font-family: 'IBM Plex Sans';
    }
}

.committees {
    width: 100%;
    padding-top: 4rem;
    background-color: aliceblue;
    &__title {
        font-family: 'IBM Plex Sans';
        font-weight: 800;
        letter-spacing: 1px;
        text-align: center;
        font-size: 2.3em;
        width: 100%;
        text-transform: uppercase;
        padding-bottom: 4%;
    }
    &__committee-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__committee-item {
        position: relative;
        width: 100%;
    }
    img {
        margin-bottom: 5%;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .committees__committee-item:hover .middle {
        opacity: 1;
    }
    .committees__committee-item:hover img {
        opacity: 0.5;
        filter: grayscale(0.5);
    }
    .middle {
        opacity: 0;
        transition: all ease-in-out 500ms;
    }
    &__cta-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $primary-color;
        width: 30%;
        font-weight: 500;
        font-family: "Raleway";
        color: $text-light;
        box-shadow: 2px 2px 4px #5f5f5f;
        &:hover {
            transition: all ease-in-out 500ms;
            color: $text-light;
            background-color: $secondary-color;
        }
    }
}

.footer {
    padding-bottom: 4rem;
    display: flex;
    padding-top: 4rem;
    background-color: $background-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Sans";
    &__title {
        font-size: 2.5em;
        color: $primary-color;
        margin-bottom: 0.5rem;
    }
    &__date {
        color: $text-light;
    }
    &__credits {
        margin-top: 1rem;
        font-weight: 400;
        color: $primary-color;
    }
}

.disabled {
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .jumbo {
        height: 80vh;
    }
}